.outsource{
    background: var(--backgroundPrimary);
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder{
    margin: 8em 0;
    gap: 60px;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .desc-heading{
    width: 527px;
    gap: 12px;
}


/*

    *
        Form heading styling
    *
    
*/

.outsource .sub-outsource-holder .inner-sec .outsource-holder .desc-heading .desc-first-heading h4{
    color: var(--lightBlack);
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -2.24px;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .desc-heading .desc-second-heading h6{
    color: var(--innerBlack);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
}


/*

    *
        Form styling    
    *
    
*/


.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder{
    width: 1008px;
    padding: 64px 32px;
    gap: 32px;
    border-radius: 14px;
    background: var(--white);
    box-shadow: 0px 10.596px 15.894px -2.649px rgba(16, 25, 40, 0.08), 0px 2.649px 3.973px -1.324px rgba(16, 25, 40, 0.03);
}


/*

    *
        First inner styling
    *
    
*/


.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .first-input-field-holder{
    gap: 64px;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .first-input-field-holder .name-field-holder{
    gap: 4px;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .first-input-field-holder .name-field-holder label{
    align-self: stretch;
    color: var(--lightBlack);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    text-transform: uppercase;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .first-input-field-holder .name-field-holder input[type='text']{
    height: 56px;
    padding: 16px;
    border-radius: 6px;
    border: 1px solid var(--inputBorder);
    background: var(--white);
    font-size: 16px;
    color: var(--text);
    outline: none;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .first-input-field-holder .name-field-holder input[type='text']:focus{
    border: 1px solid var(--focus);
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .first-input-field-holder .name-field-holder input[type='text']::placeholder{
    color: var(--footerText);
    font-feature-settings: 'cv04' on, 'cv03' on;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    text-transform: capitalize;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .first-input-field-holder .name-field-holder p{
    text-transform: capitalize;
    font-size: 12px;
    color: var(--danger);
    font-weight: 500;
}


/*

    *
        Second inner styling
    *
    
*/


.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .second-input-field-holder{
    gap: 64px;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .second-input-field-holder .number-field-holder,
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .second-input-field-holder .job-field-holder{
    gap: 8px;
    flex: 1 0 0;
}


.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .second-input-field-holder .job-field-holder label{
    align-self: stretch;
    color: var(--lightBlack);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    text-transform: uppercase;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .second-input-field-holder .job-field-holder input[type='text']{
    height: 56px;
    padding: 16px;
    border-radius: 6px;
    border: 1px solid var(--inputBorder);
    background: var(--white);
    font-size: 16px;
    color: var(--text);
    outline: none;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .second-input-field-holder .job-field-holder input[type='text']:focus{
    border: 1px solid var(--focus);
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .second-input-field-holder .job-field-holder input[type='text']::placeholder{
    color: var(--footerText);
    font-feature-settings: 'cv04' on, 'cv03' on;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    text-transform: capitalize;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .second-input-field-holder .job-field-holder p{
    text-transform: capitalize;
    font-size: 12px;
    color: var(--danger);
    font-weight: 500;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .second-input-field-holder .number-field-holder{
    height: 80px;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .second-input-field-holder .number-field-holder label{
    align-self: stretch;
    color: var(--label);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    text-transform: uppercase;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .second-input-field-holder .number-field-holder input[type='tel']{
    height: 56px;
    gap: 12px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid var(--inputBorder);
    background: var(--white);
    font-size: 16px;
    color: var(--text);
    outline: none;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .second-input-field-holder .number-field-holder input[type='tel']::-webkit-inner-spin-button,
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .second-input-field-holder .number-field-holder input[type='tel']::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .second-input-field-holder .number-field-holder input[type='tel']:focus{
    border: 1px solid var(--focus);
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .second-input-field-holder .number-field-holder input[type='tel']::placeholder{
    color: var(--footerText);
    font-feature-settings: 'cv04' on, 'cv03' on;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    text-transform: capitalize;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .second-input-field-holder .number-field-holder p{
    text-transform: capitalize;
    font-size: 12px;
    color: var(--danger);
    font-weight: 500;
}


/*

    *
        Third inner styling    
    *
    
*/


.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .third-input-field-holder{
    gap: 64px;
}

.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .third-input-field-holder .count-field-holder{
    gap: 4px;
    flex: 1 0 0;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .third-input-field-holder .count-field-holder label{
    align-self: stretch;
    color: var(--label);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    text-transform: uppercase;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .third-input-field-holder .count-field-holder .count-input-holder{
    gap: 4px;
    user-select: none;
    width: 443px;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .third-input-field-holder .count-field-holder .count-input-holder .count-input{
    height: 56px;
    padding: 20px 16px;
    border-radius: 10px;
    border: 1px solid var(--inputBorder);
    background: var(--white);
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .third-input-field-holder .count-field-holder .count-input-holder .count-input .input{
    color: var(--footerText);
    font-feature-settings: 'cv04' on, 'cv03' on;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    text-transform: capitalize;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .third-input-field-holder .count-field-holder .count-input-holder .count-input .option{
    color: var(--text);
    font-feature-settings: 'cv04' on, 'cv03' on;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .third-input-field-holder .count-field-holder .count-input-holder .count-input .fa{
    color: var(--footerText);
    font-size: 14px;
    cursor: pointer;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .third-input-field-holder .count-field-holder .count-input-holder .select-box{
    border-radius: 0px 0px 8px 8px;
    background: var(--white);
    box-shadow: 0px 10.596px 15.894px -2.649px rgba(16, 25, 40, 0.08), 0px 2.649px 3.973px -1.324px rgba(16, 25, 40, 0.03);
    margin: 5px 0;
    overflow: hidden;
    transition: all 0.5s ease;
    opacity: 0;
    max-height: 0px;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .third-input-field-holder .count-field-holder .count-input-holder .select-box.open{
    max-height: 1000px;
    opacity: 1;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .third-input-field-holder .count-field-holder .count-input-holder .select-box .select-list{
    gap: 10px;
    list-style: none;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .third-input-field-holder .count-field-holder .count-input-holder .select-box .select-list .list{
    padding: 9px 20px;
    gap: 6px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .third-input-field-holder .count-field-holder .count-input-holder .select-box .select-list .list:hover{
    background: var(--backgroundPrimary);
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .third-input-field-holder .count-field-holder .count-input-holder .select-box .select-list .list p{
    flex: 1 0 0;
    color: var(--text);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; 
    margin: 4px 0;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .third-input-field-holder .count-field-holder p{
    text-transform: capitalize;
    font-size: 12px;
    color: var(--danger);
    font-weight: 500;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .third-input-field-holder .email-field-holder .ico input[type='email']{
    height: 56px;
    padding: 16px;
    border-radius: 6px;
    border: 1px solid var(--inputBorder);
    background: var(--white);
    font-size: 16px;
    color: var(--text);
    outline: none;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .third-input-field-holder .email-field-holder .ico input[type='email']:focus{
    border: 1px solid var(--focus);
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .third-input-field-holder .email-field-holder .ico input[type='email']::placeholder{
    color: var(--footerText);
    font-feature-settings: 'cv04' on, 'cv03' on;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    text-transform: capitalize;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .third-input-field-holder .email-field-holder label{
    align-self: stretch;
    color: var(--label);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    text-transform: uppercase;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .third-input-field-holder .email-field-holder .ico .mail{
    bottom: 17px;
    right: 10px;
    fill: var(--footerText);
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .third-input-field-holder .email-field-holder .ico .mail.focus{
    fill: var(--focus);
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .third-input-field-holder .email-field-holder p{
    text-transform: capitalize;
    font-size: 12px;
    color: var(--danger);
    font-weight: 500;
}


/*

    *
        Fourth inner styling
    *
    
*/


.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder{
    gap: 55px;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .team-field-holder{
    gap: 4px;
    flex: 1 0 0;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .team-field-holder label{
    align-self: stretch;
    color: var(--label);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    text-transform: uppercase;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .team-field-holder .team-input-holder{
    gap: 4px;
    user-select: none;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .team-field-holder .team-input-holder .team-input{
    height: 56px;
    padding: 20px 16px;
    border-radius: 10px;
    border: 1px solid var(--inputBorder);
    background: var(--white);
    width: 444px;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .team-field-holder .team-input-holder .team-input .input{
    color: var(--footerText);
    font-feature-settings: 'cv04' on, 'cv03' on;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    text-transform: capitalize;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .team-field-holder .team-input-holder .team-input .option{
    color: var(--text);
    font-feature-settings: 'cv04' on, 'cv03' on;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .team-field-holder .team-input-holder .team-input .fa{
    color: var(--footerText);
    font-size: 14px;
    cursor: pointer;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .team-field-holder .team-input-holder .select-box{
    width: 100%;
    border-radius: 0px 0px 8px 8px;
    background: var(--white);
    box-shadow: 0px 10.596px 15.894px -2.649px rgba(16, 25, 40, 0.08), 0px 2.649px 3.973px -1.324px rgba(16, 25, 40, 0.03);
    margin: 5px 0;
    overflow: hidden;
    transition: all 0.5s linear;
    opacity: 0;
    max-height: 0px;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .team-field-holder .team-input-holder .select-box.open{
    opacity: 1;
    max-height: 1000px;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .team-field-holder .team-input-holder .select-box .select-list{
    gap: 10px;
    list-style: none;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .team-field-holder .team-input-holder .select-box .select-list .list{
    padding: 9px 20px;
    gap: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .team-field-holder .team-input-holder .select-box .select-list .list .list-checkbox{
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: 1px solid var(--inputBorder);
    cursor: pointer;
    transition: all 0.5s ease;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .team-field-holder .team-input-holder .select-box .select-list .list .list-checkbox.click{
    border: none;
    background: var(--backgroundPrimary);
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .team-field-holder .team-input-holder .select-box .select-list .list .list-checkbox .fa{
    display: none;
    height: 12px;
    width: 12px;
    color: var(--white);
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .team-field-holder .team-input-holder .select-box .select-list .list .list-checkbox .fa.show{
    display: block;
    height: 12px;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .team-field-holder .team-input-holder .select-box .select-list .list p{
    flex: 1 0 0;
    color: var(--text);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; 
    margin: 4px 0;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .team-field-holder .team-input-holder .select-box .select-button{
    padding: 10px 14px;
    gap: 18px;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .team-field-holder .team-input-holder .select-box .select-button .first-button{
    padding: 10px 14px;
    gap: 10px;
    border-radius: 8px;
    background: var(--backgroundSecondary);
    cursor: pointer;
    width: 200px;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .team-field-holder .team-input-holder .select-box .select-button .first-button button{
    flex: 1 0 0;
    color: var(--lightBlack);
    text-align: center;
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 145%;
    border: none;
    width: 100%;
    background: none;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .team-field-holder .team-input-holder .select-box .select-button .second-button{
    padding: 10px 14px;
    gap: 10px;
    border-radius: 8px;
    background: var(--backgroundPrimary);
    cursor: pointer;
    width: 200px;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .team-field-holder .team-input-holder .select-box .select-button .second-button button{
    flex: 1 0 0;
    color: var(--lightBlack);
    text-align: center;
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 145%;
    border: none;
    width: 100%;
    background: none;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .team-field-holder .team-input-holder p{
    text-transform: capitalize;
    font-size: 12px;
    color: var(--danger);
    font-weight: 500;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .name-field-holder{
    gap: 4px;
    flex: 1 0 0;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .name-field-holder label{
    align-self: stretch;
    color: var(--label);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    text-transform: uppercase;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .name-field-holder .social-input-holder{
    gap: 4px;
    user-select: none;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .name-field-holder .social-input-holder .social-input{
    height: 56px;
    padding: 20px 16px;
    border-radius: 10px;
    border: 1px solid var(--inputBorder);
    background: var(--white);
    width: 443px;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .name-field-holder .social-input-holder .social-input .input{
    color: var(--footerText);
    font-feature-settings: 'cv04' on, 'cv03' on;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    text-transform: capitalize;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .name-field-holder .social-input-holder .social-input .option{
    color: var(--text);
    font-feature-settings: 'cv04' on, 'cv03' on;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .name-field-holder .social-input-holder .social-input .fa{
    color: var(--footerText);
    font-size: 14px;
    cursor: pointer;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .name-field-holder .social-input-holder .social-box{       
    border-radius: 0px 0px 8px 8px;
    background: var(--white);
    box-shadow: 0px 10.596px 15.894px -2.649px rgba(16, 25, 40, 0.08), 0px 2.649px 3.973px -1.324px rgba(16, 25, 40, 0.03);
    margin: 5px 0;
    overflow: hidden;
    transition: all 0.5s ease;
    opacity: 0;
    max-height: 0px;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .name-field-holder .social-input-holder .social-box.open{
    opacity: 1;
    max-height: 1000px;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .name-field-holder .social-input-holder .social-box .social-list{
    gap: 10px;
    align-self: stretch;
    list-style: none;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .name-field-holder .social-input-holder .social-box .social-list .list{
    padding: 9px 20px;
    gap: 6px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .name-field-holder .social-input-holder .social-box .social-list .list:hover{
    background: var(--backgroundPrimary);
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .name-field-holder .social-input-holder .social-box .social-list .list p{
    flex: 1 0 0;
    color: var(--text);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; 
    margin: 4px 0;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .name-field-holder .social-input-holder p{
    text-transform: capitalize;
    font-size: 12px;
    color: var(--danger);
    font-weight: 500;
}


.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .other-field .other-content label{
    color: var(--label);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .other-field .other-content input{
    height: 56px;
    border: 1px solid var(--inputBorder);
    background: var(--white);
    font-size: 16px;
    color: var(--text);
    outline: none;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .other-field .other-content input:focus{
    border: 1px solid var(--focus);
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .other-field .other-content input::placeholder{
    color: var(--footerText);
    font-feature-settings: 'cv04' on, 'cv03' on;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    text-transform: capitalize;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .other-field .other-content p{
    text-transform: capitalize;
    font-size: 12px;
    color: var(--danger);
    font-weight: 500;
}


/*

    *
        Fifth inner styling
    *
    
*/


.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fifth-input-field-holder{
    gap: 8px;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fifth-input-field-holder .des-field-holder{
    gap: 4px;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fifth-input-field-holder .des-field-holder label{
    align-self: stretch;
    color: var(--lightBlack);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    text-transform: uppercase;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fifth-input-field-holder .des-field-holder textarea{
    width: 100%;
    height: 150px;
    padding: 16px;
    border-radius: 6px;
    border: 1px solid var(--inputBorder);
    background: var(--white);
    font-size: 16px;
    color: var(--text);
    outline: none;
    resize: none;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fifth-input-field-holder .des-field-holder textarea:focus{
    border: 1px solid var(--focus);
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fifth-input-field-holder .des-field-holder textarea::placeholder{
    color: var(--footerText);
    font-feature-settings: 'cv04' on, 'cv03' on;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    text-transform: capitalize;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fifth-input-field-holder .des-field-holder textarea::-webkit-inner-spin-button,
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fifth-input-field-holder .des-field-holder textarea::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fifth-input-field-holder .des-field-holder p{
    text-transform: capitalize;
    font-size: 12px;
    color: var(--danger);
    font-weight: 500;
}


/*

    *
        Submit item styling
    *
    
*/


.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .submit-item-holder{
    gap: 12px;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .submit-item-holder .submit-des{
    gap: 4px;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .submit-item-holder .submit-des h6{
    color: var(--text);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    align-self: stretch;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .submit-item-holder .submit-button-link-holder{
    gap: 12px;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .submit-item-holder .submit-button-link-holder .submit-button{
    height: 55px;
    padding: 16px 24px;
    gap: 10px;
    border-radius: 8px;
    background: var(--backgroundPrimary);
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .submit-item-holder .submit-button-link-holder .submit-button button{
    gap: 8px;
    border: none;
    cursor: pointer;
    background: none;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .submit-item-holder .submit-button-link-holder .submit-button button .pa{
    color: var(--lightBlack);
    text-align: center;
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 145%;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .submit-item-holder .submit-button-link-holder .submit-link{
    gap: 8px;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .submit-item-holder .submit-button-link-holder .submit-link .pa{
    color: var(--text);
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    letter-spacing: -0.06px;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .submit-item-holder .submit-button-link-holder .submit-link .link{
    padding: 4px 0px;
    gap: 8px;
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.00);
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .submit-item-holder .submit-button-link-holder .submit-link .link{
    color: var(--demoText);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    text-decoration: none;
}

.active{
    color: var(--backgroundPrimary);
    cursor: pointer;
}


/*

    *
        Success style
    *
    
*/


.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .success-message .success-hold{
    gap: 20px;
    flex: 1 0 0;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .success-message .success-hold .success{
    padding: 10px;
    gap: 10px;
    border-radius: 100px;
    background: rgba(52, 168, 83, 0.05);
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .success-message .success-hold .success .fa{
    height: 100px;
    width: 101px;
    stroke: var(--success);
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .success-message .success-hold .success-text p{
    color: var(--lightAsh);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .success-message .success-hold .success-text p span{
    font-weight: 600;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .success-message .success-hold .success-link{
    width: 40%;
}
.outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .success-message .success-hold .success-link .link{
    color: var(--innerBlack);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    height: 50px;
    background: var(--backgroundPrimary);
    border-radius: 10px;
}

@media only screen and (max-width: 1120px) {
    .outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder{
        width: 99%;
    }
}
@media only screen and (max-width: 999px) {
    .outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder{
        width: 840px;
    }
    .outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .third-input-field-holder .count-field-holder .count-input-holder {
        width: 357px;
    }
    .outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .team-field-holder {
        width: 44%;
    }
    .outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .team-field-holder .team-input-holder .team-input {
        width: 100%;
    }
    .outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .name-field-holder .social-input-holder .social-input {
        width: 100%;
    }
}
@media only screen and (max-width: 900px) {
    .outsource{
        background: var(--white);
    }
    .outsource .sub-outsource-holder .inner-sec {
        margin: 0;
        padding: 70px 10px !important;
        max-width: 100%;
    }
    .outsource .sub-outsource-holder .inner-sec .outsource-holder{
        margin: 0;
        width: 100%;
        gap: 20px;
    }
    .outsource .sub-outsource-holder .inner-sec .outsource-holder .desc-heading {
        width: 100%;
        gap: 15px;
        margin-top: 35px;
    }
    .outsource .sub-outsource-holder .inner-sec .outsource-holder .desc-heading .desc-first-heading h4 {
        font-size: 32px;
    }
    .outsource .sub-outsource-holder .inner-sec .outsource-holder .desc-heading .desc-second-heading h6 {
        font-size: 14px;
    }
    .outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder{
        width: 100%;
        padding: 0px;
        border-radius: 0px;
        background: transparent;
        box-shadow: none;
    }
    .outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .second-input-field-holder,
    .outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .third-input-field-holder,
    .outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder {
        flex-direction: column;
        gap: 32px;
    }
    .outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .third-input-field-holder {
        gap: 24px;
    }
    .outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder {
        gap: 24px;
    }
    .outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .third-input-field-holder .count-field-holder .count-input-holder {
        width: 100%;
    }
    .outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .team-field-holder,
    .outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .name-field-holder {
        width: 100%;
    }
    .outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .team-field-holder .team-input-holder .team-input,
    .outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .input-holder .fourth-input-field-holder .name-field-holder .social-input-holder .social-input {
        width: 100%;
    }
    .outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .inner-form .form .submit-item-holder {
        gap: 25px;
    }
    .outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .success-message .success-hold .success-text p {
        font-size: 18px;
    }
    .outsource .sub-outsource-holder .inner-sec .outsource-holder .form-holder .success-message .success-hold .success-link {
        width: 100%;
    }
}