.signup{
    height: 100vh;
}
.signup .signup-inner-app .inner-app .sub-app{
    height: inherit;
}
.signup .signup-inner-app .inner-app .sub-app .form-section{
    padding: 65px;
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-title{
    height: 71px;
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-title .title-des h4{
    align-self: stretch;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
    letter-spacing: -0.64px;
    color: var(--label);
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-title .title-des .login-text{
    align-self: stretch;
    color: var(--lightAsh);
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; 
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-title .title-des .login-text a{
    color: var(--demoText);
    text-decoration: none;
}


/*

    *
        First name and Last name styling
    *
    
*/


.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .inputs .name-holder .fname label{
    align-self: stretch;
    color: var(--lightBlack);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    text-transform: uppercase;
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .inputs .name-holder .fname input[type='text']{
    height: 56px;
    padding: 16px;
    border-radius: 6px;
    border: 1px solid var(--inputBorder);
    background: var(--white);
    font-size: 16px;
    color: var(--text);
    outline: none;
    width: 100%;
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .inputs .name-holder .fname input[type='text']::placeholder{
    color: var(--footerText);
    font-feature-settings: 'cv04' on, 'cv03' on;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    text-transform: capitalize;
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .inputs .name-holder .fname input[type='text']:focus{
    border: 1px solid var(--focus);
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .inputs .name-holder .fname p{
    color: var(--danger);
    font-feature-settings: 'cv04' on, 'cv03' on;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    text-transform: capitalize;
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .inputs .name-holder .lname label{
    align-self: stretch;
    color: var(--lightBlack);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    text-transform: uppercase;
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .inputs .name-holder .lname input[type='text']{
    height: 56px;
    padding: 16px;
    border-radius: 6px;
    border: 1px solid var(--inputBorder);
    background: var(--white);
    font-size: 16px;
    color: var(--text);
    outline: none;
    width: 100%;
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .inputs .name-holder .lname input[type='text']::placeholder{
    color: var(--footerText);
    font-feature-settings: 'cv04' on, 'cv03' on;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    text-transform: capitalize;
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .inputs .name-holder .lname input[type='text']:focus{
    border: 1px solid var(--focus);
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .inputs .name-holder .lname p{
    color: var(--danger);
    font-feature-settings: 'cv04' on, 'cv03' on;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 145%;
    text-transform: capitalize;
}


/*

    *
        User name and Email styling
    *
    
*/


.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .inputs .user-email-holder .uname label{
    align-self: stretch;
    color: var(--lightBlack);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    text-transform: uppercase;
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .inputs .user-email-holder .uname input[type='text']{
    height: 56px;
    padding: 16px;
    border-radius: 6px;
    border: 1px solid var(--inputBorder);
    background: var(--white);
    font-size: 16px;
    color: var(--text);
    outline: none;
    width: 100%;
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .inputs .user-email-holder .uname input[type='text']::placeholder{
    color: var(--footerText);
    font-feature-settings: 'cv04' on, 'cv03' on;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    text-transform: capitalize;
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .inputs .user-email-holder .uname input[type='text']:focus{
    border: 1px solid var(--focus);
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .inputs .user-email-holder .uname p{
    color: var(--danger);
    font-feature-settings: 'cv04' on, 'cv03' on;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    text-transform: capitalize;
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .inputs .user-email-holder .email label{
    align-self: stretch;
    color: var(--lightBlack);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    text-transform: uppercase;
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .inputs .user-email-holder .email .in-ico .fa{
    position: absolute;
    width: 20px;
    height: 20px;
    fill: var(--inputBorder);
    bottom: 17px;
    right: 11px;
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .inputs .user-email-holder .email .in-ico .fa.focus{
    fill: var(--focus);
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .inputs .user-email-holder .email .in-ico input[type='email']{
    height: 56px;
    padding: 16px;
    border-radius: 6px;
    border: 1px solid var(--inputBorder);
    background: var(--white);
    font-size: 16px;
    color: var(--text);
    outline: none;
    width: 100%;
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .inputs .user-email-holder .email .in-ico input[type='email']::placeholder{
    color: var(--footerText);
    font-feature-settings: 'cv04' on, 'cv03' on;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    text-transform: capitalize;
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .inputs .user-email-holder .email .in-ico input[type='email']:focus{
    border: 1px solid var(--focus);
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .inputs .user-email-holder .email p{
    color: var(--danger);
    font-feature-settings: 'cv04' on, 'cv03' on;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 145%;
    text-transform: capitalize;
}


/*

    *
        Password and Confirm password styling
    *
    
*/


.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .inputs .password-confirm-holder .pass label{
    align-self: stretch;
    color: var(--lightBlack);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    text-transform: uppercase;
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .inputs .password-confirm-holder .pass .in-ico .fa-holder{
    position: absolute;
    bottom: 17px;
    right: 11px;
    cursor: pointer;
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .inputs .password-confirm-holder .pass .in-ico .fa-holder .fa{
   width: 20px;
   height: 20px;
   stroke: var(--inputBorder);
   fill: none;
   stroke: 0.7px;
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .inputs .password-confirm-holder .pass .in-ico input[type='text'],
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .inputs .password-confirm-holder .pass .in-ico input[type='password']{
    height: 56px;
    padding: 16px;
    border-radius: 6px;
    border: 1px solid var(--inputBorder);
    background: var(--white);
    font-size: 16px;
    color: var(--text);
    outline: none;
    width: 100%;
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .inputs .password-confirm-holder .pass .in-ico input[type='text']::placeholder,
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .inputs .password-confirm-holder .pass .in-ico input[type='password']::placeholder{
    color: var(--footerText);
    font-feature-settings: 'cv04' on, 'cv03' on;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    text-transform: capitalize;
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .inputs .password-confirm-holder .pass .in-ico input[type='text']:focus,
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .inputs .password-confirm-holder .pass .in-ico input[type='password']:focus{
    border: 1px solid var(--focus);
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .inputs .password-confirm-holder .pass p{
    color: var(--danger);
    font-feature-settings: 'cv04' on, 'cv03' on;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    text-transform: capitalize;
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .inputs .password-confirm-holder .password-holder .hide-box{
    display: none;
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .inputs .password-confirm-holder .password-holder .show-box{
    display: block;
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .inputs .password-confirm-holder .password-holder .password-validator-box .inner-validator-box .validator1 p{
    color: var(--danger);
    font-feature-settings: 'cv04' on, 'cv03' on;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    text-transform: capitalize;
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .inputs .password-confirm-holder .password-holder .password-validator-box .inner-validator-box .validator1 .fa{
    font-size: 12px;
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .inputs .password-confirm-holder .password-holder .password-validator-box .inner-validator-box .validator1 .hide{
    display: none;
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .inputs .password-confirm-holder .password-holder .password-validator-box .inner-validator-box .validator1 .show{
    display: block;
    color: var(--footerText);
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .inputs .password-confirm-holder .password-holder .password-validator-box .inner-validator-box .wrong{
    color: var(--danger);
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .inputs .password-confirm-holder .password-holder .password-validator-box .inner-validator-box .right p{
    color: var(--footerText);
}


/*
    
    *
        Button css styling
    *
    
*/


.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .button-holder .newsl .checkbox{
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: 1px solid var(--inputBorder);
    cursor: pointer;
    transition: all 0.5s ease;
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .button-holder .newsl .checkbox .fa{
    display: none;
    height: 12px;
    width: 12px;
    color: var(--white);
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .button-holder .newsl .checkbox .fa.show{
    display: block;
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .button-holder .newsl .checkbox.click{
    border: none;
    background: var(--backgroundPrimary);
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .button-holder .newsl p{
    color: var(--text);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .button-holder .button{
    background: var(--backgroundPrimary);
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .button-holder .button:hover{
    opacity: 70%;
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .button-holder .button button{
    border: none;
}
.signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .button-holder .button button .text{
    color: var(--text);
    text-align: center;
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 145%;
    text-transform: capitalize;
}
@media only screen and (max-width: 992px) {
    .signup{
        height: 100svh;
    }
    .signup .signup-inner-app .inner-app .sub-app{
        height: inherit;
    }
}
@media only screen and (max-width: 1024px) {
    .signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .inputs .password-confirm-holder .password-holder .password-validator-box .inner-validator-box .validator1 p{
        font-size: 11px;
    }
    .signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .inputs .password-confirm-holder .password-holder .password-validator-box .inner-validator-box .validator1 .fa{
        font-size: 11px;
    }
}
@media only screen and (max-width: 900px) {
    .signup .signup-inner-app .inner-app{
        display: block;
    }
    .signup .signup-inner-app .inner-app .sub-app{
        flex-direction: column;
        justify-content: unset;
        height: 100svh;
    }
    .signup .signup-inner-app .inner-app .sub-app .form-section{
        padding: 32px 16px;
        width: 100%;
    }
    .signup .signup-inner-app .inner-app .sub-app .form-section .form-holder{
        padding: 0;
        width: 100%;
    }
}
@media only screen and (max-width: 425px) {
    .signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-title .title-des h4{
        font-size: 28px;
    }
    .signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-title .title-des .login-text{
        font-size: 14px;
    }
}
@media only screen and (max-width: 320px) {
    .signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .button-holder .newsl .checkbox{
        width: 20px;
        height: 20px;
    }
    .signup .signup-inner-app .inner-app .sub-app .form-section .form-holder .inner-form-holder .form-input-holder .button-holder .newsl p{
        font-size: 11px;
    }
}
